body {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  background-color: #f4f5f2;
  word-break: break-all;
  text-align: justify;
  text-justify: inter-ideograph;

}

.head_nav {
  position: relative;
  top: 0px;
  overflow: hidden;
  width: 100%;
  padding-top: 1.66rem;
}

.head_nav_contentBox {
  width: 80%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.head_nav ul {
  display: flex;
  position: absolute;
  right: 0;
}

.head_nav li{
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.head_nav a{
  font-family: 'arial black', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

#page_wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.b_content {
  width: 100%;
  text-align: center;
}

video {
  width: 100%;
}

.page_sections {
  background: transparent;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.page_sections.narrow {
  padding-top: 0.6em;
  padding-bottom: 1.2em;
}

.page_sections.bg_color.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  font-family: 'Anek Telugu', sans-serif;
  font-size: 18px;
}

.section_title {
  font-size: 31px;
  margin: 0px 0px 1em 0px;
}

.section_title.contact {
  font-size: 31px;
  margin: 0px 0px 0.5em 0px;
}

p#copyright {
  font-size: 16px;
}

a {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out 0.01s;
  transition: all 0.15s ease-in-out 0.01s;
}

a:hover{
  color: #9dc3df
}

#section_social_icons {
  margin-top: 4rem;
}

.iframe_wrapper {
  width: 100%;
}

.iframe_wrapper iframe {
  width: 33%;
}

a.underline {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}


.personal_links {
  display: inline-flex;
  padding: 0.3em 0.2em 0px 0.2em;
}

.social_icons {
  padding: 0px 0.5em 0px 0.5em;
}

@media screen and (max-width: 959px) {
  .iframe_wrapper iframe {
    width: 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h3 {
  font-size: 20px;
  font-weight: 200;
  padding-top: 2.0rem;
  padding-bottom: 0.5rem;
}


@media screen and (max-width: 480px) {
  .head_nav {
    text-align: center;
  }
  .head_nav_contentBox {
    flex-wrap: wrap;
  }

  .head_nav ul{
    flex-wrap: wrap;
  }

  .head_nav_contentBox {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  }

  #head_logo {
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
  }

  .head_nav ul {
    display: flex;
    position: relative;
    padding-left:0px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .head_nav li{
    width: 33%;
    list-style: none;
  }

  .head_nav a{
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05rem;
    color: #333;
  }

  .page_sections {
    padding-top: 2.5em;
  }

  .b_content {
    width: 90%;
    text-align: center;
  }

  #section_social_icons {
    margin-top: 3rem;
  }

  p#copyright {
    font-size: 13px;
  }
}