body {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  background-color: #d9d8d2;
}

img {
  width: 90%;
  max-width: 500px;
}

header {
  height: calc(100vh * 0.7);
  max-width: 100%;
  background: url('../img/index/20231129_23454.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
}

#page_wrapper {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  color: white;
  font-size: 3.5vw;
  letter-spacing: 0.35em;
  font-family: "Arial Black";
  font-weight: 900;
  user-select: none;
  transform: scale(1, 1.1);
}

.page_sections {
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 3em;
}

p {
  font-family: 'Anek Telugu', sans-serif;
}

.section_title {
  font-size: 26px;
}

p.description {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-left: 5%;
  padding-right: 5%;
}

p#copyright {
  font-size: 16px;
}

a {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out 0.01s;
  transition: all 0.15s ease-in-out 0.01s;
}

a:hover{
  color: #9dc3df
}

#section_social_icons {
  margin-top: 2vh;
}

#page_footer {
  margin-top: 0vh;
}

.iframe_wrapper {
  width: 100%;
}

.iframe_wrapper iframe {
  width: 33%;
}

a.underline {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}

@media screen and (max-width: 959px) {
  .iframe_wrapper iframe {
    width: 90%;
  }
  #logo {
    font-size: 6vw;
  }
  
}

@media screen and (max-width: 480px) {
  header {
    height: calc(100vh * 0.5);
    margin-bottom: 0.3vh;
  }
  .page_sections {
    padding-top: 2.5em;
  }
  p#copyright {
    font-size: 13px;
  }
}