body {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  background: #f0ede1;
}

img.thumb {
  width: 90%;
  max-width: 500px;
}

img.img_teams {
  width: 200px;
  border-radius:50%;
}

header {
  height: calc(100vh * 0.7);
  max-width: 100%;
  background: url('../img/index/20231129_23454.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0vh;
}

#page_wrapper {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo img{
  width: 500px;
  max-width: 25vw;
}

.page_sections {
  background: transparent;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.page_sections.bg_color {
  background: #f6f7f2;
}

.page_sections.contact {
  padding-top: 3.5em;
  padding-bottom: 1em;
}

.page_sections.narrow {
  padding-top: 0.6em;
  padding-bottom: 1.2em;
}

.page_sections.bg_color.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  font-family: 'Anek Telugu', sans-serif;
}

.section_title {
  font-size: 31px;
  margin: 0px 0px 1em 0px;
}

.section_title.contact {
  font-size: 31px;
  margin: 0px 0px 0.5em 0px;
}

p.description {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.1em;
  padding-left: 5%;
  padding-right: 5%;
  width: 45%;
  margin: 0 auto;
}

span.name {
  font-size: 21px;
  color: #855120;
}

span.job {
  font-size: 15px;
  color: #d1975c;

}

p#copyright {
  font-size: 16px;
}

a {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out 0.01s;
  transition: all 0.15s ease-in-out 0.01s;
}

a:hover{
  color: #9dc3df
}

#section_social_icons {
  margin-top: 2vh;
}

.iframe_wrapper {
  width: 100%;
}

.iframe_wrapper iframe {
  width: 33%;
}

a.underline {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}


.grid_itemA {grid-area: a;}
.grid_itemB {grid-area: b;}
.grid_itemC {grid-area: c; padding-bottom: 1em;}
.grid_itemD {grid-area: d; padding-bottom: 1em;}
.grid_itemE {grid-area: e; padding-top: 0em;}
.grid_itemF {grid-area: f; padding-top: 0em;}

.team {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  place-content: center;
  padding: 0px;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  justify-items: center;
  column-gap: 0px;
  row-gap: 0px; 
}

.team p {
    margin-block-start: 0.5em;
    margin-block-end: 0.1em;
}

.personal_links {
  display: inline-flex;
  padding: 0.3em 0.2em 0px 0.2em;
}

.social_icons {
  padding: 0px 0.5em 0px 0.5em;
}

@media screen and (max-width: 959px) {
  .iframe_wrapper iframe {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: calc(100vh * 0.5);
    margin-bottom: 0.3vh;
  }

  #logo img{
    max-width: 33vw;
  }

  .page_sections {
    padding-top: 2.5em;
  }

  p.description {
    width: 85%;
  }

  .team {
    width: 100%;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
    "a"
    "c"
    "e"
    "b"
    "d"
    "f";
    align-items: center;
  }

  .grid_itemC {grid-area: c; padding-bottom: 0px;}}
  .grid_itemD {grid-area: d; padding-bottom: 0px;}
  .grid_itemE {width: 80%; margin-bottom: 2em;}
  .grid_itemF {width: 80%; padding-top: 0px;}

  .team p {
    margin-block-start: 0.5em;
    margin-block-end: 0.0em;
  }

  p#copyright {
    font-size: 13px;
  }
}